aiohappyeyeballs
aiohttp
aiosignal
attrs
backports.zstd
Brotli
certifi
charset-normalizer
colorama
contourpy
cycler
fonttools
frozenlist
future==1.0.0
h2
hpack
hyperframe
idna
iso8601==2.1.0
kiwisolver
loguru
matplotlib==3.10.8
msgpack
multidict
munkres==1.1.4
numpy
packaging
pillow
platformdirs
pooch
propcache
pyparsing
pyserial==3.5
PySide6==6.9.3
PySocks
python-dateutil
pyvista
PyYAML==6.0.3
requests
scooby
shiboken6==6.9.3
six
tornado
typing_extensions
urllib3
vtk==9.5.2
win32_setctime
win_inet_pton
wslink
yarl
